*.class

# Package Files #
*.jar
*.war
*.ear
/Rede_AdHoc/nbproject/private/
/Rede_AdHoc/build/
/adhoc_app/nbproject/private/
/adhoc_app/build/
adhoc_app/nbproject/genfiles.properties

adhoc_app/nbproject/build-impl.xml

adhoc_app/nbproject/project.properties

adhoc_app/nbproject/genfiles.properties
